:root{
    --rainbow: linear-gradient(to right, violet, cyan, blue);
    --rainbow2: linear-gradient(to right, violet, cyan, blue, black, black, black, black, black, black, black,black);
    --rainbow3: linear-gradient(to right, black, black, black, black, violet, cyan, blue, black, black, black, black);
    --background: #23233b;
    --background2: #1a1a2c;
    --backgroundNav: #0d0d16;
    --Primarycolor:rgb(206, 229, 249);
    --Secondcolor:rgb(144, 160, 174);
    --Thirdcolor:rgb(96, 103, 111);
}

*{
    color: white;
    scroll-behavior: smooth;
    background-color: var(--background2) !important;
}


/* Text */
p {
    font-family: 'Jura', sans-serif;
    font-size: 20px;
}


/* Heading */
h1, h2, h3 , h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

.customHead h2{
    background: var(--rainbow2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}


/* Nav Bar */
.customNav a{
    color: white;
    background-color: var(--backgroundNav) !important;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
}

.nav-item{
    padding: 15px;
}

.customNav{
    background-color: var(--backgroundNav) !important;
    border-bottom: solid 1px white !important;
}

.customNav1{
    background-color: var(--backgroundNav) !important;
}

.customNav1 li{
    background-color: var(--backgroundNav) !important;
}

.customDropdown a{
    background-color: var(--background) !important;
}

.customNavItem:hover a{
    text-decoration-line: underline;
    color: cyan !important;
}

.customNavItem2:hover{
    text-decoration-line: underline;
    color: cyan !important;
}

.customNavDrop:hover{
    color: cyan !important;
}


/* Jumbotron */
.customJumbotron{
    background-color: var(--background)!important;
}

.customJumbo1{
    align-items: center;
    justify-content: center;
    background-color: var(--background)!important;
}

.customJumbo2{
    background-color: var(--background)!important;
}

.customJumbo3{
    display: flex;
    background-color: var(--background) !important;
    justify-content: center;
}

.customJumbo3 img{
    max-width: 500px;
    background-color: var(--background)!important;
}

.customJumbo2 h1{
    font-size: 100px;
    background: var(--rainbow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: var(--background)!important;
}

.customJumbo2 p{
    background-color: var(--background)!important;
}

.secondaryJumbo{
    color: var(--Secondcolor);
    background-color: var(--background)!important;    
}

/* Projects */

.customProd1{
    justify-content: space-around;
}

.customProd2{
    justify-content: space-around;
}

.customProdButton:hover{
    color: cyan !important;
    border-color: cyan !important;
}

/* About me and Skills */
#AboutMeSkills{
    background-color: var(--background) !important;
}

.customAbout{
    background-color: var(--background) !important;
}

.customAbout1, .customAbout1 p, .customAbout1 h3, .customAbout1 div{
    background-color: var(--background) !important;
}

.customAbout2, .customAbout2 h3, .customAbout2 h4, .customAbout2 ul, .customAbout2 li, .customAbout2 div{
    background-color: var(--background) !important;
}



.customHead1 h3{
    color: var(--Secondcolor) !important;
}

/* Contact Me */
#ContactMe {
    text-align: center;
}

#ContactMe h2{
    background: var(--rainbow3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Footer */