:root{
    --rainbow: linear-gradient(to right, violet, cyan, blue);
    --rainbow2: linear-gradient(to right, violet, cyan, blue, black, black, black, black, black, black, black,black);
    --rainbow3: linear-gradient(to right, black, black, black, black, violet, cyan, blue, black, black, black, black);
    --background: #10101a;
    --backgroundNav: #0d0d16;
    --Primarycolor:rgb(206, 229, 249);
    --Secondcolor:rgb(144, 160, 174);
    --Thirdcolor:rgb(96, 103, 111);
}

*{
    background-color: var(--background)!important;
    color: white;
    scroll-behavior: smooth;
}


/* Text */
p {
    font-family: 'Jura', sans-serif;
    font-size: 20px;
}


/* Heading */
h1, h2, h3 , h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

.customHead h2{
    background: var(--rainbow2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}


/* Nav Bar */
.customNav a{
    color: white;
    background-color: var(--backgroundNav) !important;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
}

.nav-item{
    padding: 15px;
}

.customNav{
    background-color: var(--backgroundNav) !important;
    border-bottom: solid 1px white !important;
}

.customNav1{
    background-color: var(--backgroundNav) !important;
}

.customNav1 li{
    background-color: var(--backgroundNav) !important;
}

.customDropdown a{
    background-color: var(--background) !important;
}


/* Jumbotron */
.customJumbo1{
    align-items: center;
    justify-content: center;
}

.customJumbotron img{
    max-width: 500px;
}

.customJumbo2 h1{
    font-size: 100px;
    background: var(--rainbow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.secondaryJumbo{
    color: var(--Secondcolor);
}

/* Projects */
.customProd1{
    justify-content: space-around;
}

.customProd2{
    justify-content: space-around;
}

/* About me and Skills */
.customHead1 h3{
    color: var(--Secondcolor) !important;
}

/* Contact Me */
#ContactMe {
    text-align: center;
}

#ContactMe h2{
    background: var(--rainbow3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}