:root{
    --rainbow: linear-gradient(to right, violet, cyan, blue);
    --rainbow2: linear-gradient(to right, violet, cyan, blue, black, black, black, black, black, black, black,black);
}

*{
    background-color: #10101a !important;
    color: white;
}

/* Text */
p {
    font-family: 'Jura', sans-serif;
    font-size: 20px;
}


/* Heading */
h1, h2, h3 , h4, h5, h6 {
    font-family: 'Anton', sans-serif;
}

.customHead h2{
    background: var(--rainbow2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    margin-left: 5vh;
}

/* Nav Bar */

.customNav a{
    color: white;
}

.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
}

.nav-item{
    padding: 15px;
}

/* Jumbotron */

.customJumbo1{
    align-items: center;
    justify-content: center;
}

.customJumbotron img{
    max-width: 500px;
}

.customJumbo2 h1{
    font-size: 100px;
    background: var(--rainbow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* Projects */

.customProd1{
    justify-content: space-around;
}

.customProd2{
    justify-content: space-around;
}